[package]
name = "randygpt"
version = "0.8.0"
edition = "2021"

[dependencies]
candle-core = { version = "0.9.2", features = ["metal"] }
candle-nn = "0.9.2"
ctrlc = "3.4"
lazy_static = "1.5.0"
rayon = "1.8"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
